body{

  background: #200122; 
  background: -webkit-linear-gradient(to right, #6f0000, #200122);  
  background: linear-gradient(to right, #6f0000, #200122); 

}

.logo{
  margin-left : 80px;
  width:130px;
  height:130px;
}
.containerNav{
  margin-left: 0;
  margin-right: 0px;
}

.main-latter{
  font-weight: 500;
  color: #fff;
  margin-top: 100px;
  font-family: 'Morganite', sans-serif;                            
  height: 50vh;
  display: flex;

}

.responsive-navbar-nav1 {
  font-size: 1.2em;
  margin-left: 1.5em;
}

.byakkoFont{
  font-size: 5rem;
  font-family: 'Morganite', sans-serif;
}

.texts{
  margin: auto;
  display: flex;
  flex-direction: column;
  
}

@media screen and (max-width: 1300px ){
  .responsive-navbar-nav1 {
    font-size: 1em;
  }
  .logo{
    margin-left : 80px;
    width:110px;
    height:110px;
  }
}
@media screen and (max-width: 1080px ){
  .responsive-navbar-nav1 {
    font-size: .9em;
  }
} 

@media screen and (min-width: 900px){
  .name{
    font-size: 15em;
    margin-bottom: .5rem;
  }
  
  .subtitle {
    font-size: 10em; 
  }
}

@media screen and (max-width: 899px){
  .name{
    font-size: 7em;
    margin-bottom: .5rem;
  }
  
  .subtitle {
    font-size: 6em; 
  }
  .logo{ 
    margin-left : 30px;
    padding: 0%;
  }
  .byakkoFont{
    font-size: 3.5rem;
    font-family: 'Morganite', sans-serif;
    margin-left: 15px;
  }
}

.concept-two h1  {
  color: transparent;
  text-align: 0 1px 1px;
  -webkit-text-stroke: 2px #fff;
  text-shadow: none;
  transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.concept-two .hover:hover h1 {
  transform: scale(1.2);
  color: #fff;
  -webkit-text-stroke: 2px transparent;
  text-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
